<IfModule mod_expires.c>
  ExpiresActive On

  # Imagens (1 ano)
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # CSS e JS (1 ano)
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"

  # Outros assets
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(css|js|webp|svg|woff2|png|jpg|jpeg)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
  
  # Desabilita ETag se formos usar Cache-Control
  Header unset ETag
</IfModule>

FileETag None
